<div class="container">
  <% if (alerts.success) { %>
    <div class="alert alert-success"><%= alerts.success %></div>
  <% } %>
  <div class="jumbotron">
    <h1><%= currentUser.username %>'s Profile</h1>
  </div>
</div>
